
        body {background-color:gainsboro;} 
        h1 {color: silver; text-align: center;background-color: grey}
        section {float: right;width: 350px;padding-right: 300px}

header { background;color:}
nav ul li{display: inline;padding: 10px 25px 10px 25px; background-color: antiquewhite}
#nav1 {background-color:navajowhite;padding:10px 25px 10px 25px;width: 150px;font-style: oblique;color:cornflowerblue}
#login {
    position: absolute;
    top:30%;
    left:40%;
}
#register {
    position: absolute;
    top:30%;
    left:30%;}
#contactus{
     position: absolute;
    top:50%;
    left:40%;}
#img1 {position: absolute;
    top: 30%;
    left: 30%;}
#img2 {position: absolute;
    top: 30%;
    left: 60%;}
#img3 {position: absolute;
    top: 70%;
    left: 30%;}
#img4 {position: absolute;
    top: 70%;
    left: 60%;}
#h2{text-align:center;
background-color:grey;color:silver}